---
layout: null
title: NotMadeToCreate - Home Page
description: Gallery exhibiting the art of Dorian Geerdink.
sitemap:
    priority: 1.0
    lastmod: 2018-07-22
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1 class="unselectable">{{site.title}}</h1>
						<p class="intro-text unselectable">{{ content }}</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
            {% include socialnav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									{% include status.html %}
								</header>
								<a href="#" class="image main unselectable"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                <p class="unselectable">Regardless of your website's function, the homepage is what brings the user in.
                  If it's anything short of intriguing, captivating, or just plain cool, you're out of luck and you might deter some visitors.</p>
                <p class="unselectable">Your homepage must clearly describe what your site is about.
									Having engaging content will in this manner enable you to offer and it will make your customers more inclined to purchase from you. Content is a way to position your organization in the correct place for your clients to discover you.
								</p>
								<p class="unselectable">
									In this manner, content in itself is a standout amongst the best promoting apparatuses in your whole advertising toolbox! Rather than making your content around your promoting technique, it's limitlessly more productive to fabricate your showcasing around your content.
								 </p>

							</article>

						<!-- Posts -->
							<article class="post featured"><header class="major"><h2><a class="unselectable" href="{{ "/gallery/" | absolute_url }}">My latest artworks</a></h2></header></article>
							<section class="posts">
                {% for post in site.posts limit:2 %}
  								<article>
  									<header>
  										<span class="date unselectable">{{ post.date | date_to_string }}</span>
  										<h2  class="unselectable"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit unselectable"><img src="{{ post.image | absolute_url }}" alt="{{ post.title }}" style="max-width: 446px; max-height: 273px;" /></a>
  									<p class="unselectable">{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button unselectable">Full Story</a></li>
  									</ul>
  								</article>
                {% endfor %}
							</section>
							<footer>
				                <ul class="actions">
				                  <li><a href="{{ "/gallery/" | absolute_url }}" class="button unselectable">Check out my entire Gallery!</a></li>
				                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
		{% include dynamictyping.html %}
    {% include tracking.html %}

	</body>
</html>
