---
layout: null
title: NotMadeToCreate - Home Page
description: Gallery exhibiting the art of Dorian Geerdink.
sitemap:
    priority: 1.0
    lastmod: 2018-07-22
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1 class="unselectable">{{site.title}}</h1>
						<p class="intro-text unselectable">{{ content }}</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
            {% include socialnav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									{% include status.html %}
								</header>
								
								<p class="unselectable">Hey there and welcome to my website! My name is Dorian and I am an 21 year old Dutch artist who mainly specializes in making traditional anthropomorphic (furry) art. Feel free to explore my webpage.</p>
								<p class="unselectable">You can always email me if you have any questions. If you decide to do so I would appreciate it if you read all the information on my webpage beforehand as there is a chance that some of your questions already get answered on there.</p>
								<p class="unselectable">Thank you for visiting!</p>
							</article>

						<!-- Posts -->
							<article class="post featured"><header class="major"><h2><a class="unselectable" href="{{ "/gallery/" | absolute_url }}">My latest artworks</a></h2></header></article>
							<section class="posts">
                {% for post in site.posts limit:2 %}
  								<article>
  									<header>
  										<span class="date unselectable">{{ post.date | date_to_string }}</span>
  										<h2  class="unselectable"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit unselectable"><img src="{{ post.image | absolute_url }}" alt="{{ post.title }}" style="max-width: 446px; max-height: 273px;" /></a>
  									<p class="unselectable">{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button unselectable">Full Story</a></li>
  									</ul>
  								</article>
                {% endfor %}
							</section>
							<footer>
				                <ul class="actions">
				                  <li><a href="{{ "/gallery/" | absolute_url }}" class="button unselectable">Check out my entire Gallery!</a></li>
				                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
		{% include dynamictyping.html %}
    {% include tracking.html %}

	</body>
</html>
