<div ID="Tailpack commission " data-nanogallery2='{
    "userID": "141495237@N05",
    "kind": "flickr",
    "photoset": "72157705147526900",
    "thumbnailOpenOriginal": false,
    "thumbnailWidth": "200",
    "thumbnailBorderVertical": 0,
    "thumbnailBorderHorizontal": 0,
    "thumbnailDisplayTransitionDuration": 1000,
    "thumbnailHoverEffect2": "labelAppear75",
    "allowHTMLinData": true,
    "galleryDisplayMode": "rows",
    "galleryMaxRows": 1,
    "thumbnailAlignment": "center",
    "thumbnailGutterWidth": 10
  }'>
</div> 
