<div data-nanogallery2='{
    "userID": "141495237@N05",
    "kind": "flickr",
    "photoset": "72157705145880464",
    "thumbnailWidth": "auto",
    "thumbnailBorderVertical": 3,
    "thumbnailBorderHorizontal": 3,
    "colorScheme": {
      "thumbnail": {
        "borderColor": "rgba(250, 250, 250, 0)"
      }
    },
    "thumbnailDisplayTransition": "flipUp",
    "thumbnailDisplayTransitionDuration": 500,
    "thumbnailDisplayInterval": 50,
    "thumbnailHoverEffect2": "labelAppear75|imageScaleIn80|borderDarker",
    "galleryDisplayMode": "moreButton",
    "galleryDisplayMoreStep": 20,
    "galleryLastRowFull": true,
    "thumbnailAlignment": "center",
    "thumbnailGutterWidth": 20,
    "thumbnailGutterHeight": 20
  }'>
</div>
